'.source.lua':

  'LuaCustomTable.operator []':
    'prefix': 'operator[]'
    'body': 'operator[]'
    'description': ' Access an element of this custom table.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaCustomTable.html#LuaCustomTable.operator []'
  
  '':
    'prefix': 'operator#'
    'body': 'operator#'
    'description': '  Number of elements in this table.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaCustomTable.html#LuaCustomTable.operator #'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  