'.source.lua':

  'LuaControl.get_inventory':
    'prefix': 'get_inventory(inventory)'
    'body': 'get_inventory'
    'description': ' Get an inventory belonging to this entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.get_inventory'
  
  'LuaControl.get_quickbar':
    'prefix': 'get_quickbar()'
    'body': 'get_quickbar'
    'description': ' Get the quickbar belonging to this entity if any.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.get_quickbar'
  
  'LuaControl.can_insert':
    'prefix': 'can_insert(items)'
    'body': 'can_insert'
    'description': ' Can at least some items be inserted?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.can_insert'
  
  'LuaControl.insert':
    'prefix': 'insert(items)'
    'body': 'insert'
    'description': ' Insert items into this entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.insert'
  
  'LuaControl.set_gui_arrow':
    'prefix': 'set_gui_arrow{type=}'
    'body': 'set_gui_arrow'
    'description': ' Create an arrow which points at this entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.set_gui_arrow'
  
  'LuaControl.clear_gui_arrow':
    'prefix': 'clear_gui_arrow()'
    'body': 'clear_gui_arrow'
    'description': ' Removes the arrow created by .'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.clear_gui_arrow'
  
  'LuaControl.get_item_count':
    'prefix': 'get_item_count(item)'
    'body': 'get_item_count'
    'description': ' Get the number of all or some items in this entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.get_item_count'
  
  'LuaControl.has_items_inside':
    'prefix': 'has_items_inside()'
    'body': 'has_items_inside'
    'description': ' Does this entity have any item inside it?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.has_items_inside'
  
  'LuaControl.can_reach_entity':
    'prefix': 'can_reach_entity(entity)'
    'body': 'can_reach_entity'
    'description': ' Can a given entity be opened or accessed?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.can_reach_entity'
  
  'LuaControl.clear_items_inside':
    'prefix': 'clear_items_inside()'
    'body': 'clear_items_inside'
    'description': ' Remove all items from this entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.clear_items_inside'
  
  'LuaControl.remove_item':
    'prefix': 'remove_item(items)'
    'body': 'remove_item'
    'description': ' Remove items from this entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.remove_item'
  
  'LuaControl.teleport':
    'prefix': 'teleport(position,surface)'
    'body': 'teleport'
    'description': ' Teleport the entity to a given position, possibly on another surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.teleport'
  
  'LuaControl.update_selected_entity':
    'prefix': 'update_selected_entity(position)'
    'body': 'update_selected_entity'
    'description': ' Select an entity, as if by hovering the mouse above it.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.update_selected_entity'
  
  'LuaControl.clear_selected_entity':
    'prefix': 'clear_selected_entity()'
    'body': 'clear_selected_entity'
    'description': ' Unselect any selected entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.clear_selected_entity'
  
  'LuaControl.disable_flashlight':
    'prefix': 'disable_flashlight()'
    'body': 'disable_flashlight'
    'description': ' Disable the flashlight.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.disable_flashlight'
  
  'LuaControl.enable_flashlight':
    'prefix': 'enable_flashlight()'
    'body': 'enable_flashlight'
    'description': ' Enable the flashlight.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.enable_flashlight'
  
  'LuaControl.get_craftable_count':
    'prefix': 'get_craftable_count(recipe)'
    'body': 'get_craftable_count'
    'description': ' Gets the count of the given recipe that can be crafted.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.get_craftable_count'
  
  'LuaControl.begin_crafting':
    'prefix': 'begin_crafting{count=,recipe=,silent=}'
    'body': 'begin_crafting'
    'description': ' Begins crafting the given count of the given recipe  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.begin_crafting'
  
  'LuaControl.cancel_crafting':
    'prefix': 'cancel_crafting(options)'
    'body': 'cancel_crafting'
    'description': ' Cancels crafting the given count of the given crafting queue index '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.cancel_crafting'
  
  'LuaControl.surface':
    'prefix': 'surface'
    'body': 'surface'
    'description': '  The surface this entity is currently on.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.surface'
  
  'LuaControl.position':
    'prefix': 'position'
    'body': 'position'
    'description': '  Current position of the entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.position'
  
  'LuaControl.vehicle':
    'prefix': 'vehicle'
    'body': 'vehicle'
    'description': '  The vehicle the player is currently sitting in;  if none.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.vehicle'
  
  'LuaControl.force':
    'prefix': 'force'
    'body': 'force'
    'description': '  The force of this entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.force'
  
  'LuaControl.selected':
    'prefix': 'selected'
    'body': 'selected'
    'description': '  The currently selected entity;  if none.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.selected'
  
  'LuaControl.opened':
    'prefix': 'opened'
    'body': 'opened'
    'description': '  The entity whose GUI the player currently has open;  if none.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.opened'
  
  'LuaControl.crafting_queue_size':
    'prefix': 'crafting_queue_size'
    'body': 'crafting_queue_size'
    'description': '  Size of the crafting queue.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.crafting_queue_size'
  
  'LuaControl.walking_state':
    'prefix': 'walking_state'
    'body': 'walking_state'
    'description': ' Current walking state.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.walking_state'
  
  'LuaControl.riding_state':
    'prefix': 'riding_state'
    'body': 'riding_state'
    'description': ' Current riding state of this car or the vehicle this player is riding in.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.riding_state'
  
  'LuaControl.mining_state':
    'prefix': 'mining_state'
    'body': 'mining_state'
    'description': ' Current mining state.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.mining_state'
  
  'LuaControl.cursor_stack':
    'prefix': 'cursor_stack'
    'body': 'cursor_stack'
    'description': '  The player's cursor stack.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.cursor_stack'
  
  'LuaControl.driving':
    'prefix': 'driving'
    'body': 'driving'
    'description': '   if the player is in a vehicle.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.driving'
  
  'LuaControl.crafting_queue':
    'prefix': 'crafting_queue'
    'body': 'crafting_queue'
    'description': ' Gets the current crafting queue items.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.crafting_queue'
  
  'LuaControl.cheat_mode':
    'prefix': 'cheat_mode'
    'body': 'cheat_mode'
    'description': '  When  hand crafting is free and instant'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.cheat_mode'
  
  'LuaControl.character_crafting_speed_modifier':
    'prefix': 'character_crafting_speed_modifier'
    'body': 'character_crafting_speed_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_crafting_speed_modifier'
  
  'LuaControl.character_mining_speed_modifier':
    'prefix': 'character_mining_speed_modifier'
    'body': 'character_mining_speed_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_mining_speed_modifier'
  
  'LuaControl.character_running_speed_modifier':
    'prefix': 'character_running_speed_modifier'
    'body': 'character_running_speed_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_running_speed_modifier'
  
  'LuaControl.character_build_distance_bonus':
    'prefix': 'character_build_distance_bonus'
    'body': 'character_build_distance_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_build_distance_bonus'
  
  'LuaControl.character_item_drop_distance_bonus':
    'prefix': 'character_item_drop_distance_bonus'
    'body': 'character_item_drop_distance_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_item_drop_distance_bonus'
  
  'LuaControl.character_reach_distance_bonus':
    'prefix': 'character_reach_distance_bonus'
    'body': 'character_reach_distance_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_reach_distance_bonus'
  
  'LuaControl.character_resource_reach_distance_bonus':
    'prefix': 'character_resource_reach_distance_bonus'
    'body': 'character_resource_reach_distance_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_resource_reach_distance_bonus'
  
  'LuaControl.character_item_pickup_distance_bonus':
    'prefix': 'character_item_pickup_distance_bonus'
    'body': 'character_item_pickup_distance_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_item_pickup_distance_bonus'
  
  'LuaControl.character_loot_pickup_distance_bonus':
    'prefix': 'character_loot_pickup_distance_bonus'
    'body': 'character_loot_pickup_distance_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_loot_pickup_distance_bonus'
  
  'LuaControl.quickbar_count_bonus':
    'prefix': 'quickbar_count_bonus'
    'body': 'quickbar_count_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.quickbar_count_bonus'
  
  'LuaControl.character_inventory_slots_bonus':
    'prefix': 'character_inventory_slots_bonus'
    'body': 'character_inventory_slots_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_inventory_slots_bonus'
  
  'LuaControl.character_logistic_slot_count_bonus':
    'prefix': 'character_logistic_slot_count_bonus'
    'body': 'character_logistic_slot_count_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_logistic_slot_count_bonus'
  
  'LuaControl.character_trash_slot_count_bonus':
    'prefix': 'character_trash_slot_count_bonus'
    'body': 'character_trash_slot_count_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_trash_slot_count_bonus'
  
  'LuaControl.character_maximum_following_robot_count_bonus':
    'prefix': 'character_maximum_following_robot_count_bonus'
    'body': 'character_maximum_following_robot_count_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_maximum_following_robot_count_bonus'
  
  'LuaControl.character_health_bonus':
    'prefix': 'character_health_bonus'
    'body': 'character_health_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.character_health_bonus'
  
  'LuaControl.auto_trash_filters':
    'prefix': 'auto_trash_filters'
    'body': 'auto_trash_filters'
    'description': '  The auto-trash filters.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaControl.html#LuaControl.auto_trash_filters'
  