'.source.lua':

  'LuaEquipmentPrototype.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  Name of this prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.name'
  
  'LuaEquipmentPrototype.type':
    'prefix': 'type'
    'body': 'type'
    'description': '  Type of this equipment prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.type'
  
  'LuaEquipmentPrototype.order':
    'prefix': 'order'
    'body': 'order'
    'description': '  Order string of this prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.order'
  
  'LuaEquipmentPrototype.localised_name':
    'prefix': 'localised_name'
    'body': 'localised_name'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.localised_name'
  
  'LuaEquipmentPrototype.shape':
    'prefix': 'shape'
    'body': 'shape'
    'description': ' Shape of this equipment prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.shape'
  
  'LuaEquipmentPrototype.take_result':
    'prefix': 'take_result'
    'body': 'take_result'
    'description': '  The result item when taking this equipment out of an equipment grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.take_result'
  
  'LuaEquipmentPrototype.energy_production':
    'prefix': 'energy_production'
    'body': 'energy_production'
    'description': '  The max power generated by this equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.energy_production'
  
  'LuaEquipmentPrototype.shield':
    'prefix': 'shield'
    'body': 'shield'
    'description': '  The shield value of this equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.shield'
  
  'LuaEquipmentPrototype.energy_per_shield':
    'prefix': 'energy_per_shield'
    'body': 'energy_per_shield'
    'description': '  The energy per shield point restored.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.energy_per_shield'
  
  'LuaEquipmentPrototype.logistic_parameters':
    'prefix': 'logistic_parameters'
    'body': 'logistic_parameters'
    'description': ' The logistic parameters for roboport equipment'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.logistic_parameters'
  
  'LuaEquipmentPrototype.energy_consumption':
    'prefix': 'energy_consumption'
    'body': 'energy_consumption'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.energy_consumption'
  
  'LuaEquipmentPrototype.movement_bonus':
    'prefix': 'movement_bonus'
    'body': 'movement_bonus'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.movement_bonus'
  
  'LuaEquipmentPrototype.night_vision_tint':
    'prefix': 'night_vision_tint'
    'body': 'night_vision_tint'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.night_vision_tint'
  
  'LuaEquipmentPrototype.energy_source':
    'prefix': 'energy_source'
    'body': 'energy_source'
    'description': ' The energy source prototype for the equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentPrototype.html#LuaEquipmentPrototype.energy_source'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  