'.source.lua':

  'LuaEquipmentGrid.take':
    'prefix': 'take{position=,equipment=}'
    'body': 'take'
    'description': ' Remove an equipment from the grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.take'
  
  'LuaEquipmentGrid.take_all':
    'prefix': 'take_all()'
    'body': 'take_all'
    'description': ' Remove all equipment from the grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.take_all'
  
  'LuaEquipmentGrid.clear':
    'prefix': 'clear()'
    'body': 'clear'
    'description': ' Clear all equipment from the grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.clear'
  
  'LuaEquipmentGrid.put':
    'prefix': 'put{name=,position=}'
    'body': 'put'
    'description': ' Insert an equipment into the grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.put'
  
  'LuaEquipmentGrid.can_move':
    'prefix': 'can_move{equipment=,position=}'
    'body': 'can_move'
    'description': ' Check whether moving an equipment would succeed.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.can_move'
  
  'LuaEquipmentGrid.move':
    'prefix': 'move{equipment=,position=}'
    'body': 'move'
    'description': ' Move an equipment within this grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.move'
  
  'LuaEquipmentGrid.get':
    'prefix': 'get(position)'
    'body': 'get'
    'description': ' Find equipment in the Equipment Grid based off a position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.get'
  
  'LuaEquipmentGrid.width':
    'prefix': 'width'
    'body': 'width'
    'description': '  Width of the equipment grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.width'
  
  'LuaEquipmentGrid.height':
    'prefix': 'height'
    'body': 'height'
    'description': '  Height of the equipment grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.height'
  
  'LuaEquipmentGrid.equipment':
    'prefix': 'equipment'
    'body': 'equipment'
    'description': '  All the equipment in this grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.equipment'
  
  'LuaEquipmentGrid.generator_energy':
    'prefix': 'generator_energy'
    'body': 'generator_energy'
    'description': '  Total energy per tick generated by the equipment inside this grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.generator_energy'
  
  'LuaEquipmentGrid.max_solar_energy':
    'prefix': 'max_solar_energy'
    'body': 'max_solar_energy'
    'description': '  Maximum energy per tick that can be created by any solar panels in the equipment grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.max_solar_energy'
  
  'LuaEquipmentGrid.available_in_batteries':
    'prefix': 'available_in_batteries'
    'body': 'available_in_batteries'
    'description': '  The total energy stored in all batteries in the equipment grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.available_in_batteries'
  
  'LuaEquipmentGrid.battery_capacity':
    'prefix': 'battery_capacity'
    'body': 'battery_capacity'
    'description': '  Total energy storage capacity of all batteries in the equipment grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipmentGrid.html#LuaEquipmentGrid.battery_capacity'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  