'.source.lua':

  'LuaEquipment.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  Name of this equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.name'
  
  'LuaEquipment.type':
    'prefix': 'type'
    'body': 'type'
    'description': '  Type of this equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.type'
  
  'LuaEquipment.position':
    'prefix': 'position'
    'body': 'position'
    'description': '  Position of this equipment in the equipment grid.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.position'
  
  'LuaEquipment.shape':
    'prefix': 'shape'
    'body': 'shape'
    'description': ' Shape of this equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.shape'
  
  'LuaEquipment.shield':
    'prefix': 'shield'
    'body': 'shield'
    'description': '  Current shield value of the equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.shield'
  
  'LuaEquipment.max_shield':
    'prefix': 'max_shield'
    'body': 'max_shield'
    'description': '  Maximum shield value.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.max_shield'
  
  'LuaEquipment.max_solar_power':
    'prefix': 'max_solar_power'
    'body': 'max_solar_power'
    'description': '  Maximum solar power generated.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.max_solar_power'
  
  'LuaEquipment.movement_bonus':
    'prefix': 'movement_bonus'
    'body': 'movement_bonus'
    'description': '  Movement speed bonus.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.movement_bonus'
  
  'LuaEquipment.generator_power':
    'prefix': 'generator_power'
    'body': 'generator_power'
    'description': '  Energy generated per tick.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.generator_power'
  
  'LuaEquipment.energy':
    'prefix': 'energy'
    'body': 'energy'
    'description': '  Current available energy.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.energy'
  
  'LuaEquipment.max_energy':
    'prefix': 'max_energy'
    'body': 'max_energy'
    'description': '  Maximum amount of energy that can be stored in this equipment.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.max_energy'
  
  'LuaEquipment.prototype':
    'prefix': 'prototype'
    'body': 'prototype'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaEquipment.html#LuaEquipment.prototype'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  