'.source.lua':

  'LuaForce.get_entity_count':
    'prefix': 'get_entity_count(name)'
    'body': 'get_entity_count'
    'description': ' Count entities of given type.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.get_entity_count'
  
  'LuaForce.disable_research':
    'prefix': 'disable_research()'
    'body': 'disable_research'
    'description': ' Disable research for this force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.disable_research'
  
  'LuaForce.enable_research':
    'prefix': 'enable_research()'
    'body': 'enable_research'
    'description': ' Enable research for this force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.enable_research'
  
  'LuaForce.disable_all_prototypes':
    'prefix': 'disable_all_prototypes()'
    'body': 'disable_all_prototypes'
    'description': ' Disable all recipes and technologies.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.disable_all_prototypes'
  
  'LuaForce.reset_recipes':
    'prefix': 'reset_recipes()'
    'body': 'reset_recipes'
    'description': ' Load the original version of all recipes from the prototypes.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.reset_recipes'
  
  'LuaForce.enable_all_recipes':
    'prefix': 'enable_all_recipes()'
    'body': 'enable_all_recipes'
    'description': ' Unlock all recipes.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.enable_all_recipes'
  
  'LuaForce.enable_all_technologies':
    'prefix': 'enable_all_technologies()'
    'body': 'enable_all_technologies'
    'description': ' Unlock all technologies.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.enable_all_technologies'
  
  'LuaForce.research_all_technologies':
    'prefix': 'research_all_technologies()'
    'body': 'research_all_technologies'
    'description': ' Research all technologies.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.research_all_technologies'
  
  'LuaForce.reset_technologies':
    'prefix': 'reset_technologies()'
    'body': 'reset_technologies'
    'description': ' Load the original versions of technologies from prototypes.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.reset_technologies'
  
  'LuaForce.reset':
    'prefix': 'reset()'
    'body': 'reset'
    'description': ' Reset everything.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.reset'
  
  'LuaForce.chart':
    'prefix': 'chart(surface,area)'
    'body': 'chart'
    'description': ' Chart a portion of the map.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.chart'
  
  'LuaForce.clear_chart':
    'prefix': 'clear_chart()'
    'body': 'clear_chart'
    'description': ' Remove all charted area from the chart.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.clear_chart'
  
  'LuaForce.rechart':
    'prefix': 'rechart()'
    'body': 'rechart'
    'description': ' Force a rechart of the whole chart.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.rechart'
  
  'LuaForce.chart_all':
    'prefix': 'chart_all()'
    'body': 'chart_all'
    'description': ' Chart all generated chunks.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.chart_all'
  
  'LuaForce.is_chunk_charted':
    'prefix': 'is_chunk_charted(surface,position)'
    'body': 'is_chunk_charted'
    'description': ' Has a chunk been charted?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.is_chunk_charted'
  
  'LuaForce.get_ammo_damage_modifier':
    'prefix': 'get_ammo_damage_modifier(ammo)'
    'body': 'get_ammo_damage_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.get_ammo_damage_modifier'
  
  'LuaForce.set_ammo_damage_modifier':
    'prefix': 'set_ammo_damage_modifier(ammo,modifier)'
    'body': 'set_ammo_damage_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.set_ammo_damage_modifier'
  
  'LuaForce.get_gun_speed_modifier':
    'prefix': 'get_gun_speed_modifier(ammo)'
    'body': 'get_gun_speed_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.get_gun_speed_modifier'
  
  'LuaForce.set_gun_speed_modifier':
    'prefix': 'set_gun_speed_modifier(ammo,modifier)'
    'body': 'set_gun_speed_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.set_gun_speed_modifier'
  
  'LuaForce.get_turret_attack_modifier':
    'prefix': 'get_turret_attack_modifier(turret)'
    'body': 'get_turret_attack_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.get_turret_attack_modifier'
  
  'LuaForce.set_turret_attack_modifier':
    'prefix': 'set_turret_attack_modifier(turret,modifier)'
    'body': 'set_turret_attack_modifier'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.set_turret_attack_modifier'
  
  'LuaForce.set_cease_fire':
    'prefix': 'set_cease_fire(other,cease_fire)'
    'body': 'set_cease_fire'
    'description': ' Stop attacking members of a given force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.set_cease_fire'
  
  'LuaForce.get_cease_fire':
    'prefix': 'get_cease_fire(other)'
    'body': 'get_cease_fire'
    'description': ' Will this force attack members of another force?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.get_cease_fire'
  
  'LuaForce.is_pathfinder_busy':
    'prefix': 'is_pathfinder_busy()'
    'body': 'is_pathfinder_busy'
    'description': ' Is pathfinder busy?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.is_pathfinder_busy'
  
  'LuaForce.kill_all_units':
    'prefix': 'kill_all_units()'
    'body': 'kill_all_units'
    'description': ' Kill all units and flush the pathfinder.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.kill_all_units'
  
  'LuaForce.find_logistic_network_by_position':
    'prefix': 'find_logistic_network_by_position(position,surface)'
    'body': 'find_logistic_network_by_position'
    'description': '   '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.find_logistic_network_by_position'
  
  'LuaForce.set_spawn_position':
    'prefix': 'set_spawn_position(position,surface)'
    'body': 'set_spawn_position'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.set_spawn_position'
  
  'LuaForce.get_spawn_position':
    'prefix': 'get_spawn_position(surface)'
    'body': 'get_spawn_position'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.get_spawn_position'
  
  'LuaForce.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  Name of the force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.name'
  
  'LuaForce.technologies':
    'prefix': 'technologies'
    'body': 'technologies'
    'description': '  Technologies owned by this force, indexed by their name.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.technologies'
  
  'LuaForce.recipes':
    'prefix': 'recipes'
    'body': 'recipes'
    'description': '  Recipes available to this force, indexed by their name.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.recipes'
  
  'LuaForce.manual_mining_speed_modifier':
    'prefix': 'manual_mining_speed_modifier'
    'body': 'manual_mining_speed_modifier'
    'description': '  Multiplier of the manual mining speed.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.manual_mining_speed_modifier'
  
  'LuaForce.manual_crafting_speed_modifier':
    'prefix': 'manual_crafting_speed_modifier'
    'body': 'manual_crafting_speed_modifier'
    'description': '  Multiplier of the manual crafting speed.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.manual_crafting_speed_modifier'
  
  'LuaForce.laboratory_speed_modifier':
    'prefix': 'laboratory_speed_modifier'
    'body': 'laboratory_speed_modifier'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.laboratory_speed_modifier'
  
  'LuaForce.worker_robots_speed_modifier':
    'prefix': 'worker_robots_speed_modifier'
    'body': 'worker_robots_speed_modifier'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.worker_robots_speed_modifier'
  
  'LuaForce.worker_robots_storage_bonus':
    'prefix': 'worker_robots_storage_bonus'
    'body': 'worker_robots_storage_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.worker_robots_storage_bonus'
  
  'LuaForce.current_research':
    'prefix': 'current_research'
    'body': 'current_research'
    'description': '  The current research in progress.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.current_research'
  
  'LuaForce.research_progress':
    'prefix': 'research_progress'
    'body': 'research_progress'
    'description': '  Progress of current research, as a number in range [0, 1].'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.research_progress'
  
  'LuaForce.inserter_stack_size_bonus':
    'prefix': 'inserter_stack_size_bonus'
    'body': 'inserter_stack_size_bonus'
    'description': '  The inserter stack size bonus for non stack inserters'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.inserter_stack_size_bonus'
  
  'LuaForce.stack_inserter_capacity_bonus':
    'prefix': 'stack_inserter_capacity_bonus'
    'body': 'stack_inserter_capacity_bonus'
    'description': '  Number of items that can be transferred by stack inserters'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.stack_inserter_capacity_bonus'
  
  'LuaForce.character_logistic_slot_count':
    'prefix': 'character_logistic_slot_count'
    'body': 'character_logistic_slot_count'
    'description': '  Number of character logistic slots.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_logistic_slot_count'
  
  'LuaForce.character_trash_slot_count':
    'prefix': 'character_trash_slot_count'
    'body': 'character_trash_slot_count'
    'description': '  Number of character trash slots.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_trash_slot_count'
  
  'LuaForce.quickbar_count':
    'prefix': 'quickbar_count'
    'body': 'quickbar_count'
    'description': '  Number of character quick bars.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.quickbar_count'
  
  'LuaForce.maximum_following_robot_count':
    'prefix': 'maximum_following_robot_count'
    'body': 'maximum_following_robot_count'
    'description': '  Maximum number of follower robots.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.maximum_following_robot_count'
  
  'LuaForce.ghost_time_to_live':
    'prefix': 'ghost_time_to_live'
    'body': 'ghost_time_to_live'
    'description': '  The time, in ticks, before a placed ghost disappears.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.ghost_time_to_live'
  
  'LuaForce.players':
    'prefix': 'players'
    'body': 'players'
    'description': '  Players belonging to this force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.players'
  
  'LuaForce.ai_controllable':
    'prefix': 'ai_controllable'
    'body': 'ai_controllable'
    'description': '  Enables some higher-level AI behaviour for this force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.ai_controllable'
  
  'LuaForce.logistic_networks':
    'prefix': 'logistic_networks'
    'body': 'logistic_networks'
    'description': '  List of logistic networks, grouped by surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.logistic_networks'
  
  'LuaForce.item_production_statistics':
    'prefix': 'item_production_statistics'
    'body': 'item_production_statistics'
    'description': '  The item production statistics for this force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.item_production_statistics'
  
  'LuaForce.fluid_production_statistics':
    'prefix': 'fluid_production_statistics'
    'body': 'fluid_production_statistics'
    'description': '  The fluid production statistics for this force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.fluid_production_statistics'
  
  'LuaForce.kill_count_statistics':
    'prefix': 'kill_count_statistics'
    'body': 'kill_count_statistics'
    'description': '  The kill counter statistics for this force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.kill_count_statistics'
  
  'LuaForce.item_resource_statistics':
    'prefix': 'item_resource_statistics'
    'body': 'item_resource_statistics'
    'description': '  The item resource statistics for this force (item resources collected).'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.item_resource_statistics'
  
  'LuaForce.fluid_resource_statistics':
    'prefix': 'fluid_resource_statistics'
    'body': 'fluid_resource_statistics'
    'description': '  The fluid resource statistics for this force (fluid resources collected).'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.fluid_resource_statistics'
  
  'LuaForce.entity_build_count_statistics':
    'prefix': 'entity_build_count_statistics'
    'body': 'entity_build_count_statistics'
    'description': '  The entity build statistics for this force (built and mined)'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.entity_build_count_statistics'
  
  'LuaForce.character_running_speed_modifier':
    'prefix': 'character_running_speed_modifier'
    'body': 'character_running_speed_modifier'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_running_speed_modifier'
  
  'LuaForce.character_build_distance_bonus':
    'prefix': 'character_build_distance_bonus'
    'body': 'character_build_distance_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_build_distance_bonus'
  
  'LuaForce.character_item_drop_distance_bonus':
    'prefix': 'character_item_drop_distance_bonus'
    'body': 'character_item_drop_distance_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_item_drop_distance_bonus'
  
  'LuaForce.character_reach_distance_bonus':
    'prefix': 'character_reach_distance_bonus'
    'body': 'character_reach_distance_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_reach_distance_bonus'
  
  'LuaForce.character_resource_reach_distance_bonus':
    'prefix': 'character_resource_reach_distance_bonus'
    'body': 'character_resource_reach_distance_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_resource_reach_distance_bonus'
  
  'LuaForce.character_item_pickup_distance_bonus':
    'prefix': 'character_item_pickup_distance_bonus'
    'body': 'character_item_pickup_distance_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_item_pickup_distance_bonus'
  
  'LuaForce.character_loot_pickup_distance_bonus':
    'prefix': 'character_loot_pickup_distance_bonus'
    'body': 'character_loot_pickup_distance_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_loot_pickup_distance_bonus'
  
  'LuaForce.character_inventory_slots_bonus':
    'prefix': 'character_inventory_slots_bonus'
    'body': 'character_inventory_slots_bonus'
    'description': '  the number of additional inventory slots the character main inventory has.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_inventory_slots_bonus'
  
  'LuaForce.deconstruction_time_to_live':
    'prefix': 'deconstruction_time_to_live'
    'body': 'deconstruction_time_to_live'
    'description': '  The time, in ticks, before a deconstruction order is removed.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.deconstruction_time_to_live'
  
  'LuaForce.character_health_bonus':
    'prefix': 'character_health_bonus'
    'body': 'character_health_bonus'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.character_health_bonus'
  
  'LuaForce.auto_character_trash_slots':
    'prefix': 'auto_character_trash_slots'
    'body': 'auto_character_trash_slots'
    'description': '  if auto character trash slots are enabled.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaForce.html#LuaForce.auto_character_trash_slots'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  