'.source.lua':

  'LuaGameScript.get_event_handler':
    'prefix': 'get_event_handler(event)'
    'body': 'get_event_handler'
    'description': '  Find the event handler for an event.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.get_event_handler'
  
  'LuaGameScript.raise_event':
    'prefix': 'raise_event(event,table)'
    'body': 'raise_event'
    'description': ' Raise an event.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.raise_event'
  
  'LuaGameScript.set_game_state':
    'prefix': 'set_game_state{game_finished=,player_won=,next_level=,can_continue=}'
    'body': 'set_game_state'
    'description': ' Set scenario state.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.set_game_state'
  
  'LuaGameScript.get_entity_by_tag':
    'prefix': 'get_entity_by_tag(tag)'
    'body': 'get_entity_by_tag'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.get_entity_by_tag'
  
  'LuaGameScript.show_message_dialog':
    'prefix': 'show_message_dialog{text=,image=,point_to=}'
    'body': 'show_message_dialog'
    'description': ' Show an in-game message dialog.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.show_message_dialog'
  
  'LuaGameScript.disable_tips_and_tricks':
    'prefix': 'disable_tips_and_tricks()'
    'body': 'disable_tips_and_tricks'
    'description': ' Disable showing tips and tricks.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.disable_tips_and_tricks'
  
  'LuaGameScript.is_demo':
    'prefix': 'is_demo()'
    'body': 'is_demo'
    'description': ' Is this the demo version of Factorio?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.is_demo'
  
  'LuaGameScript.save':
    'prefix': 'save(name)'
    'body': 'save'
    'description': ' Save scenario progress.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.save'
  
  'LuaGameScript.load':
    'prefix': 'load(name)'
    'body': 'load'
    'description': ' Load scenario progress.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.load'
  
  'LuaGameScript.reload_script':
    'prefix': 'reload_script()'
    'body': 'reload_script'
    'description': ' Forces a reload of the scenario script when the save game without the migration is loaded.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.reload_script'
  
  'LuaGameScript.save_atlas':
    'prefix': 'save_atlas()'
    'body': 'save_atlas'
    'description': ' Saves the current configuration of Atlas to a file.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.save_atlas'
  
  'LuaGameScript.check_consistency':
    'prefix': 'check_consistency()'
    'body': 'check_consistency'
    'description': ' Run internal consistency checks.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.check_consistency'
  
  'LuaGameScript.regenerate_entity':
    'prefix': 'regenerate_entity(entitites)'
    'body': 'regenerate_entity'
    'description': ' Regenerate autoplacement of some entities.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.regenerate_entity'
  
  'LuaGameScript.take_screenshot':
    'prefix': 'take_screenshot{player=,by_player=,position=,resolution=,zoom=,path=,show_gui=,show_entity_info=,anti_alias=}'
    'body': 'take_screenshot'
    'description': ' Take a screenshot and save it to a file.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.take_screenshot'
  
  'LuaGameScript.write_file':
    'prefix': 'write_file(filename,data,append)'
    'body': 'write_file'
    'description': ' Write a string to a file.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.write_file'
  
  'LuaGameScript.remove_path':
    'prefix': 'remove_path(path)'
    'body': 'remove_path'
    'description': ' Remove file or directory.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.remove_path'
  
  'LuaGameScript.remove_offline_players':
    'prefix': 'remove_offline_players(players)'
    'body': 'remove_offline_players'
    'description': ' Remove players who are currently not connected from the map.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.remove_offline_players'
  
  'LuaGameScript.force_crc':
    'prefix': 'force_crc()'
    'body': 'force_crc'
    'description': ' Force a CRC check.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.force_crc'
  
  'LuaGameScript.create_force':
    'prefix': 'create_force(force)'
    'body': 'create_force'
    'description': ' Create a new force.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.create_force'
  
  'LuaGameScript.merge_forces':
    'prefix': 'merge_forces(source,destination)'
    'body': 'merge_forces'
    'description': ' Merge two forces together.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.merge_forces'
  
  'LuaGameScript.create_surface':
    'prefix': 'create_surface(name,settings)'
    'body': 'create_surface'
    'description': ' Create a new surface  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.create_surface'
  
  'LuaGameScript.server_save':
    'prefix': 'server_save(name)'
    'body': 'server_save'
    'description': ' Instruct the server to save the map.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.server_save'
  
  'LuaGameScript.delete_surface':
    'prefix': 'delete_surface(surface)'
    'body': 'delete_surface'
    'description': ' Deletes the given surface and all entities on it.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.delete_surface'
  
  'LuaGameScript.disable_replay':
    'prefix': 'disable_replay()'
    'body': 'disable_replay'
    'description': ' Disables replay saving for the current save file.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.disable_replay'
  
  'LuaGameScript.direction_to_string':
    'prefix': 'direction_to_string(direction)'
    'body': 'direction_to_string'
    'description': ' Converts the given direction into the string version of the direction.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.direction_to_string'
  
  'LuaGameScript.player':
    'prefix': 'player'
    'body': 'player'
    'description': '  The player typing at the console -  in all other instances.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.player'
  
  'LuaGameScript.players':
    'prefix': 'players'
    'body': 'players'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.players'
  
  'LuaGameScript.evolution_factor':
    'prefix': 'evolution_factor'
    'body': 'evolution_factor'
    'description': '  Evolution factor of enemies.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.evolution_factor'
  
  'LuaGameScript.map_settings':
    'prefix': 'map_settings'
    'body': 'map_settings'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.map_settings'
  
  'LuaGameScript.difficulty':
    'prefix': 'difficulty'
    'body': 'difficulty'
    'description': '  Current scenario difficulty.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.difficulty'
  
  'LuaGameScript.forces':
    'prefix': 'forces'
    'body': 'forces'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.forces'
  
  'LuaGameScript.entity_prototypes':
    'prefix': 'entity_prototypes'
    'body': 'entity_prototypes'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.entity_prototypes'
  
  'LuaGameScript.item_prototypes':
    'prefix': 'item_prototypes'
    'body': 'item_prototypes'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.item_prototypes'
  
  'LuaGameScript.fluid_prototypes':
    'prefix': 'fluid_prototypes'
    'body': 'fluid_prototypes'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.fluid_prototypes'
  
  'LuaGameScript.tile_prototypes':
    'prefix': 'tile_prototypes'
    'body': 'tile_prototypes'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.tile_prototypes'
  
  'LuaGameScript.equipment_prototypes':
    'prefix': 'equipment_prototypes'
    'body': 'equipment_prototypes'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.equipment_prototypes'
  
  'LuaGameScript.damage_prototypes':
    'prefix': 'damage_prototypes'
    'body': 'damage_prototypes'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.damage_prototypes'
  
  'LuaGameScript.virtual_signal_prototypes':
    'prefix': 'virtual_signal_prototypes'
    'body': 'virtual_signal_prototypes'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.virtual_signal_prototypes'
  
  'LuaGameScript.tick':
    'prefix': 'tick'
    'body': 'tick'
    'description': '  Current map tick.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.tick'
  
  'LuaGameScript.finished':
    'prefix': 'finished'
    'body': 'finished'
    'description': ' Is the scenario finished?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.finished'
  
  'LuaGameScript.speed':
    'prefix': 'speed'
    'body': 'speed'
    'description': '  Speed to update the map at.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.speed'
  
  'LuaGameScript.surfaces':
    'prefix': 'surfaces'
    'body': 'surfaces'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.surfaces'
  
  'LuaGameScript.active_mods':
    'prefix': 'active_mods'
    'body': 'active_mods'
    'description': ' The active mods versions.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGameScript.html#LuaGameScript.active_mods'
  