'.source.lua':

  'LuaGroup.name':
    'prefix': 'name'
    'body': 'name'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGroup.html#LuaGroup.name'
  
  'LuaGroup.type':
    'prefix': 'type'
    'body': 'type'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGroup.html#LuaGroup.type'
  
  'LuaGroup.group':
    'prefix': 'group'
    'body': 'group'
    'description': '  The parent group if any;  if none.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGroup.html#LuaGroup.group'
  
  'LuaGroup.subgroups':
    'prefix': 'subgroups'
    'body': 'subgroups'
    'description': '  Subgroups of this group.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGroup.html#LuaGroup.subgroups'
  
  'LuaGroup.order':
    'prefix': 'order'
    'body': 'order'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaGroup.html#LuaGroup.order'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  