'.source.lua':

  'LuaItemPrototype.has_flag':
    'prefix': 'has_flag(flag)'
    'body': 'has_flag'
    'description': ' Does this prototype have a flag enabled?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.has_flag'
  
  'LuaItemPrototype.type':
    'prefix': 'type'
    'body': 'type'
    'description': '  Type of this prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.type'
  
  'LuaItemPrototype.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  Name of this prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.name'
  
  'LuaItemPrototype.localised_name':
    'prefix': 'localised_name'
    'body': 'localised_name'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.localised_name'
  
  'LuaItemPrototype.localised_description':
    'prefix': 'localised_description'
    'body': 'localised_description'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.localised_description'
  
  'LuaItemPrototype.order':
    'prefix': 'order'
    'body': 'order'
    'description': '  Order string.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.order'
  
  'LuaItemPrototype.place_result':
    'prefix': 'place_result'
    'body': 'place_result'
    'description': '  Prototype of the entity that will be created by placing this item, or  if there is no such entity.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.place_result'
  
  'LuaItemPrototype.place_as_equipment_result':
    'prefix': 'place_as_equipment_result'
    'body': 'place_as_equipment_result'
    'description': '  Prototype of the equipment that will be created by placing this item in an equipment grid or  if there is no equipment defined.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.place_as_equipment_result'
  
  'LuaItemPrototype.place_as_tile_result':
    'prefix': 'place_as_tile_result'
    'body': 'place_as_tile_result'
    'description': ' The place as tile result if one is defined else .'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.place_as_tile_result'
  
  'LuaItemPrototype.stackable':
    'prefix': 'stackable'
    'body': 'stackable'
    'description': '  Is this item allowed to stack at all?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.stackable'
  
  'LuaItemPrototype.default_request_amount':
    'prefix': 'default_request_amount'
    'body': 'default_request_amount'
    'description': '  The default request value.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.default_request_amount'
  
  'LuaItemPrototype.stack_size':
    'prefix': 'stack_size'
    'body': 'stack_size'
    'description': '  Maximum stack size of the item specified by this prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.stack_size'
  
  'LuaItemPrototype.fuel_value':
    'prefix': 'fuel_value'
    'body': 'fuel_value'
    'description': '  Fuel value when burned.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.fuel_value'
  
  'LuaItemPrototype.subgroup':
    'prefix': 'subgroup'
    'body': 'subgroup'
    'description': '  The subgroup this prototype belongs to.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.subgroup'
  
  'LuaItemPrototype.group':
    'prefix': 'group'
    'body': 'group'
    'description': '  The group this prototype belongs to.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.group'
  
  'LuaItemPrototype.flags':
    'prefix': 'flags'
    'body': 'flags'
    'description': ' The item prototype flags for this item prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.flags'
  
  'LuaItemPrototype.ammo_type':
    'prefix': 'ammo_type'
    'body': 'ammo_type'
    'description': '  Type of this ammo prototype or  if this is not an ammo prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.ammo_type'
  
  'LuaItemPrototype.magazine_size':
    'prefix': 'magazine_size'
    'body': 'magazine_size'
    'description': '  Size of full magazine;  if this is not an ammo item.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.magazine_size'
  
  'LuaItemPrototype.equipment_grid_size':
    'prefix': 'equipment_grid_size'
    'body': 'equipment_grid_size'
    'description': ' The size of the equipment grid for this armor prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.equipment_grid_size'
  
  'LuaItemPrototype.resistances':
    'prefix': 'resistances'
    'body': 'resistances'
    'description': '  Resistances of this armour item;  if not an armor or or the armor has no resistances.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.resistances'
  
  'LuaItemPrototype.inventory_size_bonus':
    'prefix': 'inventory_size_bonus'
    'body': 'inventory_size_bonus'
    'description': ' The invntory size bonus for this armor prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.inventory_size_bonus'
  
  'LuaItemPrototype.capsule_action':
    'prefix': 'capsule_action'
    'body': 'capsule_action'
    'description': ' The capsule action for this capsule item prototype or  if this isn't a capsule item prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.capsule_action'
  
  'LuaItemPrototype.attack_parameters':
    'prefix': 'attack_parameters'
    'body': 'attack_parameters'
    'description': ' The gun attack parameters or  if not a gun item prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.attack_parameters'
  
  'LuaItemPrototype.inventory_size':
    'prefix': 'inventory_size'
    'body': 'inventory_size'
    'description': ' The main inventory size for item-with-inventory-prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.inventory_size'
  
  'LuaItemPrototype.item_filters':
    'prefix': 'item_filters'
    'body': 'item_filters'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.item_filters'
  
  'LuaItemPrototype.group_filters':
    'prefix': 'group_filters'
    'body': 'group_filters'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.group_filters'
  
  'LuaItemPrototype.sub_group_filters':
    'prefix': 'sub_group_filters'
    'body': 'sub_group_filters'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.sub_group_filters'
  
  'LuaItemPrototype.filter_mode':
    'prefix': 'filter_mode'
    'body': 'filter_mode'
    'description': ' The filter mode used by this item with inventory.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.filter_mode'
  
  'LuaItemPrototype.insertion_priority_mode':
    'prefix': 'insertion_priority_mode'
    'body': 'insertion_priority_mode'
    'description': ' The insertion priority mode used by this item with inventory.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.insertion_priority_mode'
  
  'LuaItemPrototype.localised_filter_message':
    'prefix': 'localised_filter_message'
    'body': 'localised_filter_message'
    'description': ' The localised string used when the player attempts to put items into this item with inventory that aren't allowed.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.localised_filter_message'
  
  'LuaItemPrototype.extend_inventory_by_default':
    'prefix': 'extend_inventory_by_default'
    'body': 'extend_inventory_by_default'
    'description': ' If this item with inventory extends the inventory it resides in by default.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.extend_inventory_by_default'
  
  'LuaItemPrototype.default_label_color':
    'prefix': 'default_label_color'
    'body': 'default_label_color'
    'description': ' The default label color used for this item with label.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.default_label_color'
  
  'LuaItemPrototype.draw_label_for_cursor_render':
    'prefix': 'draw_label_for_cursor_render'
    'body': 'draw_label_for_cursor_render'
    'description': ' If true, and this item with label has a label it is drawn in place of the normal number when held in the cursor.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.draw_label_for_cursor_render'
  
  'LuaItemPrototype.speed':
    'prefix': 'speed'
    'body': 'speed'
    'description': '  Mining or repairing speed if this is a mining or repairing tool; otherwise .'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.speed'
  
  'LuaItemPrototype.attack_result':
    'prefix': 'attack_result'
    'body': 'attack_result'
    'description': ' The attack result of this mining tool prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.attack_result'
  
  'LuaItemPrototype.attack_range':
    'prefix': 'attack_range'
    'body': 'attack_range'
    'description': ' The attack range of this mining tool or  if not a mining tool.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.attack_range'
  
  'LuaItemPrototype.module_effects':
    'prefix': 'module_effects'
    'body': 'module_effects'
    'description': ' Effects of this module;  if this is not a module.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.module_effects'
  
  'LuaItemPrototype.category':
    'prefix': 'category'
    'body': 'category'
    'description': ' The module category name  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.category'
  
  'LuaItemPrototype.tier':
    'prefix': 'tier'
    'body': 'tier'
    'description': ' The module tier  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.tier'
  
  'LuaItemPrototype.limitations':
    'prefix': 'limitations'
    'body': 'limitations'
    'description': ' An array of recipe names this module is allowed to work with.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.limitations'
  
  'LuaItemPrototype.limitation_message_key':
    'prefix': 'limitation_message_key'
    'body': 'limitation_message_key'
    'description': ' The limitation message key used when the player attempts to use this modules in some place it's not allowed.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.limitation_message_key'
  
  'LuaItemPrototype.straight_rail':
    'prefix': 'straight_rail'
    'body': 'straight_rail'
    'description': ' The straight rail prototype used for this rail planner prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.straight_rail'
  
  'LuaItemPrototype.curved_rail':
    'prefix': 'curved_rail'
    'body': 'curved_rail'
    'description': ' The curved rail prototype used for this rail planner prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.curved_rail'
  
  'LuaItemPrototype.repair_result':
    'prefix': 'repair_result'
    'body': 'repair_result'
    'description': ' The repair result of this repair tool prototype or  if this isn't a repair tool prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.repair_result'
  
  'LuaItemPrototype.selection_border_color':
    'prefix': 'selection_border_color'
    'body': 'selection_border_color'
    'description': ' The color used when doing normal selection with this selection tool prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.selection_border_color'
  
  'LuaItemPrototype.alt_selection_border_color':
    'prefix': 'alt_selection_border_color'
    'body': 'alt_selection_border_color'
    'description': ' The color used when doing alt selection with this selection tool prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.alt_selection_border_color'
  
  'LuaItemPrototype.selection_mode_flags':
    'prefix': 'selection_mode_flags'
    'body': 'selection_mode_flags'
    'description': '   Flags that affect which entities will be selected.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.selection_mode_flags'
  
  'LuaItemPrototype.alt_selection_mode_flags':
    'prefix': 'alt_selection_mode_flags'
    'body': 'alt_selection_mode_flags'
    'description': '   Flags that affect which entities will be selected during alternate selection.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.alt_selection_mode_flags'
  
  'LuaItemPrototype.selection_cursor_box_type':
    'prefix': 'selection_cursor_box_type'
    'body': 'selection_cursor_box_type'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.selection_cursor_box_type'
  
  'LuaItemPrototype.alt_selection_cursor_box_type':
    'prefix': 'alt_selection_cursor_box_type'
    'body': 'alt_selection_cursor_box_type'
    'description': '  '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.alt_selection_cursor_box_type'
  
  'LuaItemPrototype.always_include_tiles':
    'prefix': 'always_include_tiles'
    'body': 'always_include_tiles'
    'description': ' If tiles area always included when doing selection with this selection tool prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.always_include_tiles'
  
  'LuaItemPrototype.durability_description_key':
    'prefix': 'durability_description_key'
    'body': 'durability_description_key'
    'description': ' The durability message key used when displaying the durability of this tool.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.durability_description_key'
  
  'LuaItemPrototype.durability':
    'prefix': 'durability'
    'body': 'durability'
    'description': ' The durability of this tool item or nil if not a tool item.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaItemPrototype.html#LuaItemPrototype.durability'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  