'.source.lua':

  'LuaLogisticCell.is_in_logistic_range':
    'prefix': 'is_in_logistic_range(position)'
    'body': 'is_in_logistic_range'
    'description': ' Is a given position within the logistic range of this cell?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.is_in_logistic_range'
  
  'LuaLogisticCell.is_in_construction_range':
    'prefix': 'is_in_construction_range(position)'
    'body': 'is_in_construction_range'
    'description': ' Is a given position within the construction range of this cell?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.is_in_construction_range'
  
  'LuaLogisticCell.is_neighbour_with':
    'prefix': 'is_neighbour_with(other)'
    'body': 'is_neighbour_with'
    'description': ' Are two cells neighbours?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.is_neighbour_with'
  
  'LuaLogisticCell.logistic_radius':
    'prefix': 'logistic_radius'
    'body': 'logistic_radius'
    'description': '  Logistic radius of this cell.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.logistic_radius'
  
  'LuaLogisticCell.construction_radius':
    'prefix': 'construction_radius'
    'body': 'construction_radius'
    'description': '  Construction radius of this cell.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.construction_radius'
  
  'LuaLogisticCell.stationed_logistic_robot_count':
    'prefix': 'stationed_logistic_robot_count'
    'body': 'stationed_logistic_robot_count'
    'description': '  Number of stationed logistic robots in this cell.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.stationed_logistic_robot_count'
  
  'LuaLogisticCell.stationed_construction_robot_count':
    'prefix': 'stationed_construction_robot_count'
    'body': 'stationed_construction_robot_count'
    'description': '  Number of stationed construction robots in this cell.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.stationed_construction_robot_count'
  
  'LuaLogisticCell.mobile':
    'prefix': 'mobile'
    'body': 'mobile'
    'description': '   if this is a mobile cell.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.mobile'
  
  'LuaLogisticCell.transmitting':
    'prefix': 'transmitting'
    'body': 'transmitting'
    'description': '   if this cell is active.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.transmitting'
  
  'LuaLogisticCell.charge_approach_distance':
    'prefix': 'charge_approach_distance'
    'body': 'charge_approach_distance'
    'description': '  Radius at which the robots hover when waiting to be charged.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.charge_approach_distance'
  
  'LuaLogisticCell.charging_robot_count':
    'prefix': 'charging_robot_count'
    'body': 'charging_robot_count'
    'description': '  Number of robots currently charging.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.charging_robot_count'
  
  'LuaLogisticCell.to_charge_robot_count':
    'prefix': 'to_charge_robot_count'
    'body': 'to_charge_robot_count'
    'description': '  Number of robots waiting to charge.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.to_charge_robot_count'
  
  'LuaLogisticCell.owner':
    'prefix': 'owner'
    'body': 'owner'
    'description': '  This cell's owner.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.owner'
  
  'LuaLogisticCell.logistic_network':
    'prefix': 'logistic_network'
    'body': 'logistic_network'
    'description': '  The network that owns this cell or .'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.logistic_network'
  
  'LuaLogisticCell.neighbours':
    'prefix': 'neighbours'
    'body': 'neighbours'
    'description': '  Neighbouring cells.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.neighbours'
  
  'LuaLogisticCell.charging_robots':
    'prefix': 'charging_robots'
    'body': 'charging_robots'
    'description': '  Robots currently being charged.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.charging_robots'
  
  'LuaLogisticCell.to_charge_robots':
    'prefix': 'to_charge_robots'
    'body': 'to_charge_robots'
    'description': '  Robots waiting to charge.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaLogisticCell.html#LuaLogisticCell.to_charge_robots'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  