'.source.lua':

  'LuaPlayer.set_ending_screen_data':
    'prefix': 'set_ending_screen_data(message,file)'
    'body': 'set_ending_screen_data'
    'description': ' Setup the screen to be shown when the game is finished.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.set_ending_screen_data'
  
  'LuaPlayer.print':
    'prefix': 'print(message)'
    'body': 'print'
    'description': ' Print text to the chat console.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.print'
  
  'LuaPlayer.clear_console':
    'prefix': 'clear_console()'
    'body': 'clear_console'
    'description': ' Clear the chat console.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.clear_console'
  
  'LuaPlayer.get_goal_description':
    'prefix': 'get_goal_description()'
    'body': 'get_goal_description'
    'description': ' Get the current goal description, as a localised string.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.get_goal_description'
  
  'LuaPlayer.set_goal_description':
    'prefix': 'set_goal_description(text,only_update)'
    'body': 'set_goal_description'
    'description': ' Set the text in the goal window (top left).'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.set_goal_description'
  
  'LuaPlayer.set_controller':
    'prefix': 'set_controller{type=,character=}'
    'body': 'set_controller'
    'description': ' Set the controller type of the player.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.set_controller'
  
  'LuaPlayer.build_from_cursor':
    'prefix': 'build_from_cursor()'
    'body': 'build_from_cursor'
    'description': ' Build the entity in the player's cursor (hand).'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.build_from_cursor'
  
  'LuaPlayer.rotate_for_build':
    'prefix': 'rotate_for_build()'
    'body': 'rotate_for_build'
    'description': ' Rotate the entity in cursor before building.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.rotate_for_build'
  
  'LuaPlayer.disable_recipe_groups':
    'prefix': 'disable_recipe_groups()'
    'body': 'disable_recipe_groups'
    'description': ' Disable recipe groups.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.disable_recipe_groups'
  
  'LuaPlayer.print_entity_statistics':
    'prefix': 'print_entity_statistics(entities)'
    'body': 'print_entity_statistics'
    'description': ' Print entity statistics to the player's console.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.print_entity_statistics'
  
  'LuaPlayer.unlock_achievement':
    'prefix': 'unlock_achievement(name)'
    'body': 'unlock_achievement'
    'description': ' Unlock the achievements of the given player.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.unlock_achievement'
  
  'LuaPlayer.clean_cursor':
    'prefix': 'clean_cursor()'
    'body': 'clean_cursor'
    'description': ' Invokes the "clean cursor" action on the player as if the user pressed it.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.clean_cursor'
  
  'LuaPlayer.create_character':
    'prefix': 'create_character(character)'
    'body': 'create_character'
    'description': ' Creates and attaches a character entity to this player.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.create_character'
  
  'LuaPlayer.character':
    'prefix': 'character'
    'body': 'character'
    'description': '  The character attached to this player, or  if no character.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.character'
  
  'LuaPlayer.index':
    'prefix': 'index'
    'body': 'index'
    'description': '  This player's index in .'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.index'
  
  'LuaPlayer.gui':
    'prefix': 'gui'
    'body': 'gui'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.gui'
  
  'LuaPlayer.opened_self':
    'prefix': 'opened_self'
    'body': 'opened_self'
    'description': '   if the player opened itself.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.opened_self'
  
  'LuaPlayer.controller_type':
    'prefix': 'controller_type'
    'body': 'controller_type'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.controller_type'
  
  'LuaPlayer.game_view_settings':
    'prefix': 'game_view_settings'
    'body': 'game_view_settings'
    'description': '  The player's game view settings.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.game_view_settings'
  
  'LuaPlayer.minimap_enabled':
    'prefix': 'minimap_enabled'
    'body': 'minimap_enabled'
    'description': '   if the minimap is visible.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.minimap_enabled'
  
  'LuaPlayer.color':
    'prefix': 'color'
    'body': 'color'
    'description': '  The colour associated with the player.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.color'
  
  'LuaPlayer.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  The player's username.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.name'
  
  'LuaPlayer.connected':
    'prefix': 'connected'
    'body': 'connected'
    'description': '   if the player is currently connected to the game.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.connected'
  
  'LuaPlayer.admin':
    'prefix': 'admin'
    'body': 'admin'
    'description': '   if the player is an admin.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.admin'
  
  'LuaPlayer.entity_copy_source':
    'prefix': 'entity_copy_source'
    'body': 'entity_copy_source'
    'description': ' The source entity used during entity settings copy-paste if any.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.entity_copy_source'
  
  'LuaPlayer.cursor_position':
    'prefix': 'cursor_position'
    'body': 'cursor_position'
    'description': '  Position of the player's mouse cursor.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.cursor_position'
  
  'LuaPlayer.zoom':
    'prefix': 'zoom'
    'body': 'zoom'
    'description': '  The player's zoom-level.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaPlayer.html#LuaPlayer.zoom'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  