'.source.lua':

  'LuaRemote.add_interface':
    'prefix': 'add_interface(name,functions)'
    'body': 'add_interface'
    'description': ' Add a remote interface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaRemote.html#LuaRemote.add_interface'
  
  'LuaRemote.remove_interface':
    'prefix': 'remove_interface(name)'
    'body': 'remove_interface'
    'description': ' Removes an interface with the given name.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaRemote.html#LuaRemote.remove_interface'
  
  'LuaRemote.call':
    'prefix': 'call(interface,function,...)'
    'body': 'call'
    'description': ' Call a function of an interface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaRemote.html#LuaRemote.call'
  
  'LuaRemote.interfaces':
    'prefix': 'interfaces'
    'body': 'interfaces'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaRemote.html#LuaRemote.interfaces'
  