'.source.lua':

  'LuaSurface.get_pollution':
    'prefix': 'get_pollution(position)'
    'body': 'get_pollution'
    'description': ' Get the pollution for a given position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.get_pollution'
  
  'LuaSurface.can_place_entity':
    'prefix': 'can_place_entity{name=,position=,direction=,force=}'
    'body': 'can_place_entity'
    'description': ' Check for collisions with terrain or other entities.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.can_place_entity'
  
  'LuaSurface.find_entity':
    'prefix': 'find_entity(entity,position)'
    'body': 'find_entity'
    'description': ' Find a specific entity at a specific position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.find_entity'
  
  'LuaSurface.find_entities':
    'prefix': 'find_entities(area)'
    'body': 'find_entities'
    'description': ' Find entities in a given area.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.find_entities'
  
  'LuaSurface.find_entities_filtered':
    'prefix': 'find_entities_filtered{area=,position=,name=,type=,force=,limit=}'
    'body': 'find_entities_filtered'
    'description': ' Find entities of given type or name in a given area.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.find_entities_filtered'
  
  'LuaSurface.count_entities_filtered':
    'prefix': 'count_entities_filtered{area=,position=,name=,type=,force=,limit=}'
    'body': 'count_entities_filtered'
    'description': ' Count entities of given type or name in a given area.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.count_entities_filtered'
  
  'LuaSurface.find_non_colliding_position':
    'prefix': 'find_non_colliding_position(name,center,radius,precision)'
    'body': 'find_non_colliding_position'
    'description': ' Find a non-colliding possition within a given rectangle.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.find_non_colliding_position'
  
  'LuaSurface.spill_item_stack':
    'prefix': 'spill_item_stack(position,items,enable_looted)'
    'body': 'spill_item_stack'
    'description': ' Spill items on the ground centered at a given location.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.spill_item_stack'
  
  'LuaSurface.find_enemy_units':
    'prefix': 'find_enemy_units(center,radius,force)'
    'body': 'find_enemy_units'
    'description': ' Find units enemy of a given force within an area.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.find_enemy_units'
  
  'LuaSurface.find_nearest_enemy':
    'prefix': 'find_nearest_enemy{position=,max_distance=,force=}'
    'body': 'find_nearest_enemy'
    'description': ' Find the enemy closest to the given position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.find_nearest_enemy'
  
  'LuaSurface.set_multi_command':
    'prefix': 'set_multi_command{command=,unit_count=,force=,unit_search_distance=}'
    'body': 'set_multi_command'
    'description': ' Give a command to multiple units.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.set_multi_command'
  
  'LuaSurface.create_entity':
    'prefix': 'create_entity{name=,position=,direction=,force=,target=,source=,fast_replace=,player=,spill=}'
    'body': 'create_entity'
    'description': ' Create an entity on this surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.create_entity'
  
  'LuaSurface.create_unit_group':
    'prefix': 'create_unit_group{position=,force=}'
    'body': 'create_unit_group'
    'description': ' Create a new unit group at a given position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.create_unit_group'
  
  'LuaSurface.build_enemy_base':
    'prefix': 'build_enemy_base(position,unit_count,force)'
    'body': 'build_enemy_base'
    'description': ' Send a group to build a new base.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.build_enemy_base'
  
  'LuaSurface.get_tile':
    'prefix': 'get_tile(x,y)'
    'body': 'get_tile'
    'description': ' Get the tile at a given position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.get_tile'
  
  'LuaSurface.get_tileproperties':
    'prefix': 'get_tileproperties(x,y)'
    'body': 'get_tileproperties'
    'description': ' Get tile properties.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.get_tileproperties'
  
  'LuaSurface.set_tiles':
    'prefix': 'set_tiles(tiles,correct_tiles)'
    'body': 'set_tiles'
    'description': ' Set tiles at specified locations.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.set_tiles'
  
  'LuaSurface.pollute':
    'prefix': 'pollute(source,amount)'
    'body': 'pollute'
    'description': ' Spawn pollution at the given position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.pollute'
  
  'LuaSurface.get_chunks':
    'prefix': 'get_chunks()'
    'body': 'get_chunks'
    'description': ' Get an iterator going over every chunk on this surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.get_chunks'
  
  'LuaSurface.is_chunk_generated':
    'prefix': 'is_chunk_generated(position)'
    'body': 'is_chunk_generated'
    'description': ' Is a given chunk generated?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.is_chunk_generated'
  
  'LuaSurface.request_to_generate_chunks':
    'prefix': 'request_to_generate_chunks(position,radius)'
    'body': 'request_to_generate_chunks'
    'description': ' Request that the game's map generator generate chunks at the given position for the given radius on this surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.request_to_generate_chunks'
  
  'LuaSurface.find_logistic_network_by_position':
    'prefix': 'find_logistic_network_by_position(position,force)'
    'body': 'find_logistic_network_by_position'
    'description': ' Find the logistic network that covers a given position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.find_logistic_network_by_position'
  
  'LuaSurface.freeze_daytime':
    'prefix': 'freeze_daytime(freeze)'
    'body': 'freeze_daytime'
    'description': ' Freeze or unfreeze time of day at the current value.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.freeze_daytime'
  
  'LuaSurface.deconstruct_area':
    'prefix': 'deconstruct_area{area=,force=}'
    'body': 'deconstruct_area'
    'description': ' Place a deconstruction request.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.deconstruct_area'
  
  'LuaSurface.cancel_deconstruct_area':
    'prefix': 'cancel_deconstruct_area{area=,force=}'
    'body': 'cancel_deconstruct_area'
    'description': ' Cancel a deconstruction order.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.cancel_deconstruct_area'
  
  'LuaSurface.get_hidden_tile':
    'prefix': 'get_hidden_tile(position)'
    'body': 'get_hidden_tile'
    'description': '   The hidden tile name or  if there isn't one for the given position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.get_hidden_tile'
  
  'LuaSurface.get_connected_tiles':
    'prefix': 'get_connected_tiles(position,tiles)'
    'body': 'get_connected_tiles'
    'description': ' Gets all tiles of the given types that are connected horizontally or vertically to the given tile position including the given tile position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.get_connected_tiles'
  
  'LuaSurface.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  The name of this surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.name'
  
  'LuaSurface.index':
    'prefix': 'index'
    'body': 'index'
    'description': '  Unique ID associated with this surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.index'
  
  'LuaSurface.map_gen_settings':
    'prefix': 'map_gen_settings'
    'body': 'map_gen_settings'
    'description': ' Gets the generation settings for the surface.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.map_gen_settings'
  
  'LuaSurface.always_day':
    'prefix': 'always_day'
    'body': 'always_day'
    'description': ' When set to true, the sun will always shine.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.always_day'
  
  'LuaSurface.daytime':
    'prefix': 'daytime'
    'body': 'daytime'
    'description': '  Current time of day, as a number in range [0, 1).'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.daytime'
  
  'LuaSurface.darkness':
    'prefix': 'darkness'
    'body': 'darkness'
    'description': '  Amount of darkness at the current time.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.darkness'
  
  'LuaSurface.wind_speed':
    'prefix': 'wind_speed'
    'body': 'wind_speed'
    'description': '  Current wind speed.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.wind_speed'
  
  'LuaSurface.wind_orientation':
    'prefix': 'wind_orientation'
    'body': 'wind_orientation'
    'description': '  Current wind direction.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.wind_orientation'
  
  'LuaSurface.wind_orientation_change':
    'prefix': 'wind_orientation_change'
    'body': 'wind_orientation_change'
    'description': '  Change in wind orientation per tick.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.wind_orientation_change'
  
  'LuaSurface.peaceful_mode':
    'prefix': 'peaceful_mode'
    'body': 'peaceful_mode'
    'description': '  Is peaceful mode enabled on this surface?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaSurface.html#LuaSurface.peaceful_mode'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  