'.source.lua':

  'LuaTile.collides_with':
    'prefix': 'collides_with(layer)'
    'body': 'collides_with'
    'description': ' What type of things can collide with this tile?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTile.html#LuaTile.collides_with'
  
  'LuaTile.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  Prototype name of this tile.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTile.html#LuaTile.name'
  
  'LuaTile.prototype':
    'prefix': 'prototype'
    'body': 'prototype'
    'description': ' '
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTile.html#LuaTile.prototype'
  
  'LuaTile.position':
    'prefix': 'position'
    'body': 'position'
    'description': ' The position this tile references.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTile.html#LuaTile.position'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  