'.source.lua':

  'LuaTechnology.reload':
    'prefix': 'reload()'
    'body': 'reload'
    'description': ' Reload this technology from its prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.reload'
  
  'LuaTechnology.force':
    'prefix': 'force'
    'body': 'force'
    'description': '  The force this technology blongs to.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.force'
  
  'LuaTechnology.name':
    'prefix': 'name'
    'body': 'name'
    'description': '  Name of this technology.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.name'
  
  'LuaTechnology.localised_name':
    'prefix': 'localised_name'
    'body': 'localised_name'
    'description': '  Localised name of this technology.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.localised_name'
  
  'LuaTechnology.enabled':
    'prefix': 'enabled'
    'body': 'enabled'
    'description': '  Can this technology be researched?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.enabled'
  
  'LuaTechnology.upgrade':
    'prefix': 'upgrade'
    'body': 'upgrade'
    'description': '  Is this an upgrade-type research?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.upgrade'
  
  'LuaTechnology.researched':
    'prefix': 'researched'
    'body': 'researched'
    'description': '  Has this technology been researched?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.researched'
  
  'LuaTechnology.prerequisites':
    'prefix': 'prerequisites'
    'body': 'prerequisites'
    'description': '  Prerequisites of this technology.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.prerequisites'
  
  'LuaTechnology.research_unit_ingredients':
    'prefix': 'research_unit_ingredients'
    'body': 'research_unit_ingredients'
    'description': '  Ingredients labs will require to research this technology.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.research_unit_ingredients'
  
  'LuaTechnology.effects':
    'prefix': 'effects'
    'body': 'effects'
    'description': '  Effects applied when this technology is researched.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.effects'
  
  'LuaTechnology.research_unit_count':
    'prefix': 'research_unit_count'
    'body': 'research_unit_count'
    'description': '  Number of research units required for this technology.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.research_unit_count'
  
  'LuaTechnology.research_unit_energy':
    'prefix': 'research_unit_energy'
    'body': 'research_unit_energy'
    'description': '  Amount of energy required to finish a unit of research.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.research_unit_energy'
  
  'LuaTechnology.order':
    'prefix': 'order'
    'body': 'order'
    'description': '  Order string for this prototype.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaTechnology.html#LuaTechnology.order'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  