'.source.lua':

  'LuaUnitGroup.add_member':
    'prefix': 'add_member(unit)'
    'body': 'add_member'
    'description': ' Make a unit a member of this group.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.add_member'
  
  'LuaUnitGroup.set_command':
    'prefix': 'set_command(command)'
    'body': 'set_command'
    'description': ' Give this group a command.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.set_command'
  
  'LuaUnitGroup.set_autonomous':
    'prefix': 'set_autonomous()'
    'body': 'set_autonomous'
    'description': ' Make this group autonomous.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.set_autonomous'
  
  'LuaUnitGroup.start_moving':
    'prefix': 'start_moving()'
    'body': 'start_moving'
    'description': ' Make the group start moving even if some of its members haven't yet arrived.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.start_moving'
  
  'LuaUnitGroup.destroy':
    'prefix': 'destroy()'
    'body': 'destroy'
    'description': ' Dissolve this group.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.destroy'
  
  'LuaUnitGroup.members':
    'prefix': 'members'
    'body': 'members'
    'description': '  Members of this group.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.members'
  
  'LuaUnitGroup.position':
    'prefix': 'position'
    'body': 'position'
    'description': '  Group position.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.position'
  
  'LuaUnitGroup.state':
    'prefix': 'state'
    'body': 'state'
    'description': '  Whether this group is gathering, moving or attacking.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.state'
  
  'LuaUnitGroup.force':
    'prefix': 'force'
    'body': 'force'
    'description': '  The force of this unit group.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.force'
  
  'LuaUnitGroup.surface':
    'prefix': 'surface'
    'body': 'surface'
    'description': '  The surface of this unit group.'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/LuaUnitGroup.html#LuaUnitGroup.surface'
  
  'Common.valid':
    'prefix': 'valid'
    'body': 'valid'
    'description': '        Is this object valid?'
    'descriptionMoreURL': 'http://lua-api.factorio.com/latest/Common.html#Common.valid'
  